@use '../../../scss/colors';
@use '../../../scss/variables';

.bs-heading {
  font-family: variables.$font-family;
  font-size: 52px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;

  &--2 {
    font-size: 36px;
    line-height: 42px;
  }

  &--3 {
    font-size: 20px;
    line-height: 24px;
  }
}
