@use '../../../scss/colors';

.bs-link {
  color: colors.$primary-400;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-decoration-line: underline;
  &:any-link,
  &:-webkit-any-link {
    color: colors.$primary-400;
  }
}
