@use '../../../scss/colors';
@use '../../../scss/mixins';
@use '../../../scss/variables';

.bs-hero {
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.bs-hero__image {
  height: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  vertical-align: bottom;
  width: 100%;
}

.bs-hero__content {
  @include mixins.page-max-width;

  align-items: center;
  color: colors.$white;
  display: flex;
  height: 100%;
  position: relative;
}

.bs-hero__title {
  color: colors.$white;
  width: 70%;
}

.bs-hero__text {
  color: colors.$white;
  font-family: variables.$font-family;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  width: 40%;
}
