@use '../../../../scss/colors';

.bs-page-header-search {
  background: url('./icon-search.svg') no-repeat right 16px center,
    colors.$grey-200;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 16px;
  width: 100%;
  max-width: 400px;

  &::placeholder {
    color: colors.$grey-400;
  }
}
