.bs-book-grid__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.bs-book-grid__books {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}
