@use '../../../scss/colors';

.bs-social-links {
  display: flex;
  gap: 20px;
}

.bs-social-links__link {
  align-items: center;
  background: colors.$grey-500;
  border-radius: 25px;
  color: colors.$white;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
  text-align: center;
}
