@use '../../../scss/colors';

.bs-book {
  position: relative;
}

.bs-book__bookmark {
  position: absolute;
  top: 0;
  right: 0;
}

.bs-book__image {
  aspect-ratio: 5 / 8;
  vertical-align: bottom;
  width: 100%;
}

.bs-book__rating {
  margin-top: 8px;
  margin-bottom: 6px;
}

.bs-book__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.bs-book__author {
  color: colors.$grey-400;
  font-size: 12px;
  line-height: 18px;
}
