$black: #000000;
$white: #ffffff;

$primary-100: #f9f1fa;
$primary-200: #eebbf4;
$primary-300: #d653e8;
$primary-400: #ba3fca;
$primary-500: #8d179c;
$primary-600: #470051;

$grey-100: $white;
$grey-200: #f2f2f2;
$grey-300: #c4c4c4;
$grey-400: #757575;
$grey-500: #242424;
$grey-600: $black;

$red-100: #fbe9e9;
$red-200: #f5c6c6;
$red-300: #ed9292;
$red-400: #e14c4c;
$red-500: #b31e1e;
$red-600: #a01b1b;

$yellow-100: #ffe6b8;
$yellow-200: #ffd78f;
$yellow-300: #ffc252;
$yellow-400: #ffa500;
$yellow-500: #d18700;
$yellow-600: #a36a00;
