@use "../../../scss//colors";

.bs-promo {
  background: colors.$primary-100;
  background: linear-gradient(
    0deg,
    rgba(249, 241, 250, 1) 0%,
    rgba(249, 241, 250, 1) 90%,
    rgba(249, 241, 250, 0) 90%
  );
  display: flex;
}

.bs-promo__left {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.bs-promo__right {
  flex: 1;
}

.bs-promo__title {
  margin-bottom: 14px;
  text-align: center;
}

.bs-promo__text {
  text-align: center;
}

.bs-promo__apps {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.bs-promo__badge {
  &:first-child {
    margin-right: 5px;
  }

  &:last-child {
    margin-left: 5px;
  }
}
